/*Header Code*/
.customNav {
    background-color: #c8102e !important;
}

.dropdown-item {
    color: white !important;
}
#accountIcon {
    padding: 8px;
}
.form-control {
    border-radius: 30px !important;
    width: 620px;
}

/*-------Button Customization Code---------*/
.btn-primary {
    background-color: #CC0202 !important;
    border-radius: 0 !important;
    margin: 1rem 0 1rem 0 !important;
    border: none !important;
}
.btn-outline-primary {
    background-color: #ffffff !important;
    border-radius: 0 !important;
    color: #CC0202;
    border: 1px solid #CC0202 !important;
}
.btn-outline-primary:hover {
    background-color: #cc0202!important;
    border-radius: 0 !important;
    color: #ffffff;
    border: 1px solid #CC0202 !important;
}
.btn-primary:hover{
    background-color: #970303 !important;
    
}
.btn-secondary {
    background-color: white !important;
    border: 4px solid #CC0202 !important;
    color: black !important;
    border-radius: 0 !important;
}

#formLogo {
    margin: 60px;
}
/*--------Home Screen code--------*/

/*---------------------Circle Card section--------------------------*/
#circleCard {
    height: 74px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circleCard a {
    color: black;
    font-size: 24px;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sectionHeaders {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 54px;
    font-size: 72px;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sectionHeaders h1 {
    font-size: 72px;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: bold;
}

/*-----------------------Hero section-----------------------------*/
#heroGreeting h1 {
    background-color: #961d37;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(218,26,51,0.5);
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
    
}
.card a {
    text-decoration: none;
}
.carousel-item {
    /*left: 275px;*/
    left: 15%;
}
.shadow {
    box-shadow: 0px 0px 4px 4px black; 
}
.carousel-control-next-icon {
    background-image: url("../images/arrow-icon-png-2.png");
}
.carousel-control-prev-icon {
    background-image: url("../images/arrow-icon-png-3.png");
}
.btn-lg {
    width: 281px;
}
/*------------------Slide 1----------------*/
#keepKidsBusy {
    background-color: #f5eaea;
    /*display: flex;*/
    justify-content: center;
    height: 635px;
    width: 1440px;
    margin-left: 75px;
}
#keepKidsBusy h1 {
    color: #961d37;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 85px;
    margin-top: 40px;
    /*width: 489px;*/
}
#keepKidsBusy img {
    height: 524px;
    width: 543px;
    margin-top: 58px;
}
#keepKidsBusy h2 {
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
}
#keepKidsBusy h4 {
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
#shopNowHero {
    border-radius: 0% !important;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#kidsPic {
    display: flex;
    justify-content: center;
}


#shopNowHero, #giftGuideHero, #cheesyHero {
    background-color: #CC0202 !important;
    border: solid #cc0202;
}
/*---------------slide 2---------------------*/
#giftGuide {
    height: 635px;
    width: 1440px;
    margin-left: 75px;
    box-shadow: 0px 4px 4px black; 
}
#giftGuide a {
    text-decoration: none;
}
#giftGuide h1 {
    color: #006843;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 85px;
    width: 400px;
}
#giftGuide h4 {
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 400px;
    
}
#giftGuideHero {
    border-radius: 0% !important;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.headerText2 {
    margin-top: 181px;
    margin-bottom: 141px;
    width: 600px;
    margin-left: 60px;
}
.adjustCardMargin {
    margin-top: 54px;
}
.adjustCardMargin h5 {
    color: white;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.adjustCard {
    height: 256px;
    width: 256px;
    margin-bottom: 15px;
    background-color: #cc0202;
    border-radius: 0% !important;
    border: none;
}

.adjustCard .card-img-top {
    border-radius: 0% !important;
}

/*------------------------Slide 3--------------------------------*/
.whiteDiv {
    height: 100px;
    background-color: white;
}
#expandCookingPic {
    overflow: visible;
    background-color: #cc0202;
}
#getCooking {
    box-shadow: 0px 4px 4px black;
    height: 635px;
    width: 1440px;
}
.cookingShrink {
    width: 361px;
}
#getCooking h1 {
    color: white;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 85px;
    margin-top: 40px;
}
#getCooking h2 {
    color: black;
    font-size: 48px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#getCooking h4 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#getCookingHero {
    border-radius: 0% !important;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black !important;
    border: solid black;
    color: white;
}

/*-----------------Slide 4--------------------------------*/
#cheesyHero {
    border-radius: 0% !important;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #CC0202 !important;
    border: solid #cc0202;
}
#cheesy {
    box-shadow: 0px 16px 4px 0px black;
    height: 635px;
    width: 1440px;
}
#cheesy h1 {
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 96px;
    font-weight: bold;
    line-height: 85px;
    margin-top: 40px;
}
#cheesy h2 {
    color: black;
    font-size: 48px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cheesy h4 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cheesy img {
    width: 640px;
    height: auto;
}
#cheesePicShrink {
    width: 650px;
}
#cheeseShrink {
    margin-left: 10px;
}

/*-----------------------Top Deals Section------------------------*/
#topDeals {
    background-color: #cc0202;
    height: 1107px;
}
#topDealsTop {
    padding-top: 143px;
}
#topDealsTop a {
    text-decoration: none;
    color: white;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topDealsTopRow {
    height: 351px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 66px;
}
.topDealSize {
    height: 351px;
    width: 440px;
    margin: 22px;
}
.topDealSize2 {
    height: 420px;
    width: 290px;
    margin: 22px;
}
#stockingStuff {
    background: url("../images/Rectangle 86.png");
}
#groomingHim {
    background: url("../images/Rectangle 85.png");
}
#groomingHer {
    background: url("../images/Rectangle 84.png");
}
.topDealsTopRow h3 {
    color: rgba(255, 255, 255, 0);
    font-size: 48px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1;
    margin-left: 5px;
    display: block;
}
.topDealsTopRow h3:hover {
    color: rgba(255, 255, 255, 1);
}
.hoverOverlay {
    width: 100%;
    height: 100%;
    background:rgba(204, 2, 2, 0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hoverOverlay:hover {
    background:rgba(204, 2, 2, .5);
}
.topDealsBottomRow {
    height: 420px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.topDealsBottomRow h3 {
    color: rgba(255, 255, 255, 0);
    font-size: 48px;
    font-weight: bold;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1;
    margin-left: 5px;
    display: block;
}
.topDealsBottomRow h3:hover {
    color: rgba(255, 255, 255, 1);
}
#cocktailMaking {
    background: url("../images/Rectangle\ 80.png")
}
#lastMinuteDeco {
    background: url("../images/Rectangle\ 81.png");
}
#bogo50 {
    background: url("../images/Rectangle\ 111.png");
}
#giftWrapSupp {
    background: url("../images/Rectangle\ 112.png");
}

/*------------------------Top Gifts Section------------------------*/
#topGifts a {
    text-decoration: none;
    color: white;
}
#topGifts h4 {
    font-size: 48px;
}
#topGifts img {
    height: 232px;
    width: 232px;
}
.treeMargins {
    margin-left: 30px;
    margin-right: 30px;
    
}
#starLogo {
    display: flex;
    justify-content: center;
}
.treeBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.middleRowTree:hover {
    box-shadow: 3px 3px 5px rgb(204, 2, 2);
}
#under50 {
    background-color: #63B347;
    margin-bottom: 9px;
    margin-top: 23px;
}
#under50:hover {
    box-shadow: 3px 3px 5px rgb(204, 2, 2);
}
.middleRowTree {
    background-color: #09842D;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.middleRowTree:hover {
    box-shadow: 3px 3px 5px rgb(204, 2, 2);
}

.bottomRowTree {
    background-color: #006843;
    margin-right: 6px;
    margin-left: 6px;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 550px;
}
.bottomRowTree:hover {
    box-shadow: 3px 3px 5px rgb(204, 2, 2);
}
#stump {
    background-color: #cc0202;
    margin-top: 9px;
    margin-bottom: 75px;
}


/*-----------------Daily Deals----------------------*/
#dailyDeal {
    background-color: #f5eae8;
    padding-top: 75px;
}

.dealFont h2 {
    color: #c8102e;
    font-size: 56px;
    font-family: "Targetica", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.dealFont a {
    text-decoration: none;
}
.dailyDealShadow {
    box-shadow: 0px 4px 4px grey;
}
.smallText {
    margin-top: 18px;
    margin-bottom: 107px;
}

/*---------------------Featured House Brands-----------*/

.firstBrand {
    margin-left: 44px;
    margin-right: 15px;
    width: 417px;
}
.otherBrands {
    margin-left: 15px;
    margin-right: 15px;
    width: 417px;
}
#featuredHouseDealsCarousel {
    margin-bottom: 234px;
}

/*------------------------Footer code-------------------*/
.footer-area {
    background-color: #c8102e !important;
    color: white;
    margin-top: 8px;
}

.footer-tittle a {
    text-decoration: none;
    color: white;
}

.footer-tittle a :hover {
    border-bottom: 1px solid white;
}
#topFooter{
    padding-top: 16px;
}
.footer-logo{
    padding-bottom: 8px;
}
.footer-social{
    padding: 16px;
}