.customNav {
    background-color: #c8102e !important;
}

#accountIcon {
    padding: 8px;
}
.form-control {
    border-radius: 30px !important;
    width: 620px;
}

.footer-area {
    background-color: #c8102e !important;
    color: white;
    margin-top: 8px;
}

.footer-tittle a {
    text-decoration: none;
    color: white;
}

.footer-tittle a :hover {
    border-bottom: 1px solid white;
}
#topFooter{
    padding-top: 16px;
}
.footer-logo{
    padding-bottom: 8px;
}
.footer-social{
    padding: 16px;
}